<h3> 1.1 Importation des donn√©es</h3>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import scale
import seaborn as sns

In [3]:
# Import as a panda dataframe
dataframe=pd.read_fwf("public_dat/store_test.data", sep=' ')

# Drop entries with missing values & first columd
dataframe = dataframe.dropna()

# Display data
dataframe.head()

    249 5 2014-12-19 725 1 1 0 0
0   190 4 2013-02-28 564 1 0 0 0
1   850 3 2013-06-05 644 1 1 0 0
2   776 6 2015-03-28 435 1 0 0 0
3    14 4 2014-10-02 799 1 1 0 0
4  234 2 2013-05-14 1064 1 1 0 0